<footer class="footer">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="footer__about">
                  <div class="footer__logo">
                      <a href="#"><img src="../../../assets/img/Logo.png" alt=""></a>
                  </div>
                  <p>El cliente está en el centro de nuestro modelo de negocio único, que incluye diseño.</p>
                  <a href="#"><img src="../../../assets/img/metodos-pago.png" alt=""></a>
              </div>
          </div>
          <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
              <div class="footer__widget">
                  <h6>Compras</h6>
                  <ul>
                      <li><a href="shop">Tienda de ropa</a></li>
                      <li><a href="shop">Zapatos de moda</a></li>
                      <li><a href="shop">Accesorios</a></li>
                      <li><a href="shop">Venta</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
              <div class="footer__widget">
                  <h6>Boletín de noticias</h6>
                  <div class="footer__newslatter">
                      <p>¡Sé el primero en conocer las novedades, catálogos, ventas y promociones!</p>
                      <form action="#">
                          <input type="text" placeholder="Tu correo electrónico">
                          <button type="submit"><span class="icon_mail_alt"></span></button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12 text-center">
              <div class="footer__copyright__text">
                  <!-- El enlace a Colorlib no se puede eliminar. La plantilla está bajo la licencia CC BY 3.0. -->
                  <p>Derechos de autor ©
                      <script>
                          document.write(new Date().getFullYear());
                      </script>2023
                      Todos los derechos reservados
                  </p>
                  <!-- El enlace a Colorlib no se puede eliminar. La plantilla está bajo la licencia CC BY 3.0. -->
              </div>
          </div>
      </div>
  </div>
</footer>
