
<!-- Banner Section Begin -->

<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="hero__items set-bg" [style.background-image]="'url(../../../assets/img/hero-1.jpg)'">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-7 col-md-8">
            <div class="hero__text">
              <h6>Colección de Verano</h6>
              <h2>Colecciones Otoño-Invierno 2023</h2>
              <p>Una marca especializada en la creación de prendas de lujo esenciales. Elaboradas éticamente con un compromiso inquebrantable con una calidad excepcional.</p>
              <a href="shop" class="primary-btn">Comprar ahora <span class="arrow_right"></span></a>
              <div class="hero__social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="hero__items set-bg" [style.background-image]="'url(../../../assets/img/hero-2.jpg)'">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-7 col-md-8">
            <div class="hero__text">
              <h6>Colección de Verano</h6>
              <h2>Colecciones Otoño-Invierno 2023</h2>
              <p>Una marca especializada en la creación de prendas de lujo esenciales. Elaboradas éticamente con un compromiso inquebrantable con una calidad excepcional.</p>
              <a href="shop" class="primary-btn">Comprar ahora <span class="arrow_right"></span></a>
              <div class="hero__social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</owl-carousel-o>


<section class="banner spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 offset-lg-4">
                <div class="banner__item">
                    <div class="banner__item__pic">
                        <img src="../../../assets/img/banner-1.jpg" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Colecciones de Ropa 2023</h2>
                        <a href="shop">Comprar ahora</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="banner__item banner__item--middle">
                    <div class="banner__item__pic">
                        <img src="../../../assets/img/banner-2.jpg" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Accesorios</h2>
                        <a href="shop">Comprar ahora</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="banner__item banner__item--last">
                    <div class="banner__item__pic">
                        <img src="../../../assets/img/banner-3.jpg" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Zapatos Primavera 2023</h2>
                        <a href="shop">Comprar ahora</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">Los más vendidos</li>
                </ul>
            </div>
        </div>
        <div class="row product__filter">
            <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals prod"
                *ngFor="let product of productos">
                <div class="product__item">
                  <div class="product__item__pic" (click)="getProduct(product.id)" [style.background-image]="'url(data:image/jpeg;base64,' + product?.fotos[0]?.image + ')'" >
                    </div>
                    <div class="product__item__text">
                        <h6>{{product.name}}</h6>
                        <a (click)="addCartItem(product)" class="add-cart">+ Añadir al carrito</a>
                        <h5>${{product.price.toFixed(2)}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->


